/* .mat-button {
  white-space: normal;

}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 0 28px;
  float: left;

}

.toolbar-span {
  flex: 1 1 auto;
}

.toolbar-right {
  padding: 0 14px;
} */
.container-fluid{width:1024px;margin:0px auto;font-size: 18px;}
.navbar{margin:0;
  background-color: rgb(236, 235, 234);}
