.imgs{
    position: relative;width: 100%;height: 15em;
    overflow: hidden;
   }
   .img{
    position: absolute;
    width: 100%;
    height: 100%;
    background: pink;
    transition: 0.2s;
   }
   .btn{
    display: inline-block;
    padding: 1em 2em;font-size: 1em;border-radius: 0.5em;
    border: 1px solid #ddd;cursor: pointer;
    margin: 1em;background: #eee;box-shadow: 0.1em 0.1em 0.2em #aaa;
   }
   .btn:active{
    background: #eee;
    box-shadow: none;
   }
#jieshao{height:550px;background-color:#F8F8F8;}
.jieshao{width:1024px;height:550px;margin:0 auto;text-align: center;padding-top: 52px;padding-bottom: 66px;}
.jieshao h3{font-size:21px;color:#010100;padding-bottom:20px;}
.jieshao p{font-size:12px;color:#010100;}
.jieshao ul{width:1086px;padding-top:30px;}
.jieshao ul li{width:300px;height:310px;background-color:#fff;float:left;margin-right:62px;}
.jieshao ul li a{color:#010100;display:block;padding:0 45px;font-size:15px;line-height:25px;text-decoration: none;}
.jieshao ul li a b{color:#010100;display:block;font-size:20px;padding-bottom:12px;}

